@import "tailwindcss";

@theme {

  /* Brand */

  --color-primary: #9B8EC7;
  --color-secondary: #BDA6CE;
  --color-accent: #B4D3D9;
  --color-background: #F2EAE0;

  /* Neutrals */

  --color-surface: #ffffff;
  --color-text: #3b3245;

  /* States */

  --color-success: #86c28b;
  --color-danger: #e78b8b;

  /* Fonts */

  --font-display: "DynaPuff";
  --font-body: "Nunito";

}