---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
---

<Layout>
  <section
    class="px-3 sm:pb-4 sm:px-4 mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 sm:gap-6 justify-items-center"
  >
    <ProductCard
      title="Mini Conejita Ballerina"
      description="¡Esta adorable conejita bailarina está buscando un nuevo hogar! Luce un hermoso vestido con lazos, además es desmontable para que puedas cambiar su estilo."
      price="30"
      image="/Productos/conejita bailarina.webp"
      slug="conejita-bailarina"
    />

    <ProductCard
      title="Mini Conejita Ajolote"
      description="¡Esta adorable conejita ajolote está buscando un nuevo hogar! Viste un lindo abrigo."
      price="35"
      image="/Productos/conejita axolote.webp"
      slug="conejita-ajolote"
    />

    <ProductCard
      title="Ballenitas y Tiburones"
      description="¡Pequeños y adorables compañeros marinos ideales para decorar o regalar!"
      price="5"
      image="/Productos/ballena.webp"
      slug="ballena-tiburon"
    />

    <ProductCard
      title="Ranitas"
      description="¡Tiernas ranitas tejidas, ideales para acompañarte o decorar!"
      price="3"
      image="/Productos/ranita.webp"
      slug="rana"
    />
    
    <ProductCard
      title="Pulpos"
      description="¡Pequeños pulpos tejidos, suaves y perfectos como detalle o regalo!"
      price="2,5"
      image="/Productos/pulpos.webp"
      slug="pulpo"
    />

    <ProductCard
      title="Patitos con sombrero de ranita"
      description="¡Divertidos patitos con un tierno sombrero de ranita, perfectos para coleccionar o regalar!"
      price="4"
      image="/Productos/patos.webp"
      slug="pollos"
    />
    
    <ProductCard
      title="Marcapáginas de rosa"
      description="Un delicado marcapáginas en forma de rosa, ideal para acompañar tus lecturas."
      price="2"
      image="/Productos/separador de libro.webp"
      slug="marcapagina"
    />

    
  </section>
</Layout>