<header class="px-3 sm:px-4 py-3 sm:py-4">
  <div class="bg-morado/80 backdrop-blur-md shadow-md rounded-2xl sm:rounded-3xl py-6 sm:py-8 flex justify-center items-center">
    
    <!-- Nombre -->
    <h1 class="text-white text-2xl sm:text-4xl md:text-5xl font-medium tracking-wide text-center">
      Kaliska Crochet
    </h1>

  </div>
</header>