<header class="px-4 py-4">
  <div class="bg-morado/80 backdrop-blur-md shadow-md rounded-3xl py-8 flex justify-center items-center">
    
    <!-- Logo 
    <div class="p-2 rounded-full bg-white/30 backdrop-blur-sm">
    <img
    src="/src/assets/logo.png"
    alt="Logo Kaliska Crochet"
    class="w-38 h-38 sm:w-38 sm:h-38 rounded-full object-cover shadow-md"
    />
  </div>
  -->

    <!-- Nombre -->
    <h1 class="text-white text-5xl sm:text-5xl sm:font-medium tracking-wide">
      Kaliska Crochet
    </h1>
  </div>
</header>